## Python Basic
This file is to practice basic python

In [1]:
print("Hello World!")

Hello World!

In [2]:
x = "Hello World!"

In [3]:
print(x)

Hello World!

In [4]:
x

'Hello World!'

In [5]:
y = 10
y

10

In [6]:
print(y)

10

In [7]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [8]:
print(x,y,sep=',')

Hello World!,10

In [9]:
print(x,y,sep=',',end=',')
print('Ram')

Hello World!,10,Ram

### Operators Basic Examples

In [10]:
x=6
y=4

In [11]:
'''
This is Multi Line Comment Example
Basic Math operations using Python Arithmetic operators
Operation: Addition operation
'''
print(x+y)

10

In [12]:
# Division operation
print(x/y)

1.5

In [13]:
#Floor Division operation
print(x//y)

1

In [14]:
#Modulus operation
print(x%y)

2

In [15]:
'''
Assigment Operators
Operation: Value assignment
'''
a = 12

In [16]:
# add the current variable value by 5
a += 5

In [17]:
print(a)

17

In [18]:
#Comparision operator
print(x<y)

False

In [19]:
#Concatenation operation
print('hel'+'lo')
print('1'+'2')

hello
12

In [20]:
#Addition operation
print(1+3)

4

In [21]:
#Comparision operation
2==2.0

True

In [22]:
#Identity Operation
2 is 2.0

False

In [23]:
#Membership operator
4 in [1,2,3,4,5]

True

In [24]:
7 in [1,2,3,4,5]

False

In [25]:
#Logical Operation
print(2>4 and 7>6)
print(2>4 or 7>6)

False
True

### Basic Data Types
##### Numeric

In [26]:
# integer
x = 10
print(x)

10

In [27]:
type(x)

int

In [28]:
type(10)

int

In [29]:
# float
y = 12.5
type(y)

float

##### Boolean

In [30]:
z = True
type(z)

bool

In [31]:
type(24>20)

bool

In [32]:
op = 24>20
op

True

In [33]:
type(op)

bool

#### Sequence

In [34]:
#String
a = "Hello"
type(a)

str

In [35]:
#List
myList = ['Hi',11,12.5,True]
print(myListList)

NameError: name 'myListList' is not defined

In [36]:
type(myList)

list

In [37]:
myList[2]

12.5

In [38]:
myList[0]

'Hi'

In [39]:
#Tuple
myTuple = ("Red","Blue","Green")
print(myTuple)

('Red', 'Blue', 'Green')

In [40]:
type(myTuple)

tuple

In [41]:
myTuple[1]

'Blue'

In [42]:
type(myTuple[1])

str

#### Immutability and Mutability

In [43]:
#List is mutable
myList

['Hi', 11, 12.5, True]

In [44]:
myList[0]

'Hi'

In [45]:
myList[0] = 'Hello'

In [46]:
myList

['Hello', 11, 12.5, True]

In [47]:
#Tuple is immutable
myTuple

('Red', 'Blue', 'Green')

In [48]:
myTuple[1] = 'Yellow'

TypeError: 'tuple' object does not support item assignment

In [49]:
# Dictionaru - Key:value Pair
myDict = {'name':'Ram','age':21}
myDict

{'name': 'Ram', 'age': 21}

In [50]:
type(myDict)

dict

In [51]:
myDict['age']

21

In [52]:
myDict['name']

'Ram'

In [53]:
myDictMul = {'name':['Ram','Hari'],'age':[24,26]}
print(myDictMul)

{'name': ['Ram', 'Hari'], 'age': [24, 26]}

In [54]:
myDictMul['name']

['Ram', 'Hari']

In [55]:
myDictMul['name'][0]

'Ram'

In [56]:
#Dict is also mutable
myDictMul['name'][0] = 'Shyam'

In [57]:
myDictMul

{'name': ['Shyam', 'Hari'], 'age': [24, 26]}

In [58]:
myStr = 'Hello'
print(myStr)

Hello

In [59]:
myStr[0]

'H'

In [60]:
myStr[1]

'e'

In [61]:
myInt = 12
myInt[0]

TypeError: 'int' object is not subscriptable

### Type Casting

In [62]:
a = 12
b = '15'
# ops - a+b
a + int(b)

27

In [63]:
float(a)

12.0

In [64]:
# Store the operation to a variable
c = float(a)

In [65]:
str(a) + b

'1215'

In [66]:
a

12

In [67]:
c

12.0

In [68]:
#char to int
s = 'a'
ord(s)

97

In [69]:
#int to ascii
chr(97)

'a'

In [70]:
#getting the hexadecimal
hex(11)

'0xb'

In [71]:
myList

['Hello', 11, 12.5, True]

In [72]:
tuple(myList)

('Hello', 11, 12.5, True)

In [73]:
myTuple

('Red', 'Blue', 'Green')

In [74]:
list(myTuple)

['Red', 'Blue', 'Green']

In [75]:
tupKeyValue = (('1','a'),('2','b'))
tupKeyValue

(('1', 'a'), ('2', 'b'))

In [76]:
dict(tupKeyValue)

{'1': 'a', '2': 'b'}

In [77]:
tupKeyValue[0][0]

'1'

### User Input

In [78]:
name = input('Hi, May I know your name?') 
print ('Welcome', name)

Hi, May I know your name?
Welcome

In [79]:
name

''

In [80]:
a = 15
b = input('Enter a no. to add with 15: \n')
a + int(b)

Enter a no. to add with 15:

ValueError: invalid literal for int() with base 10: ''

### Decision Making

In [81]:
balance = input('Enter your balance: \n')
balance = int(balance)

if balance > 1000:
    print('Balance is greater than 1000!')
else:
    print('Balance is less than 1000!')

Enter your balance:

ValueError: invalid literal for int() with base 10: ''

In [82]:
balance = input('Enter your balance: \n')
balance = int(balance)

if balance > 1000:
    print('Balance is greater than 1000!')
elif balance == 1000:
    print('Balance is equal to 1000!')
elif balance > 2000:
    print('Balance is greater then 2000!')
else:
    print('Balance is less than 1000!')

Enter your balance:

ValueError: invalid literal for int() with base 10: ''

In [83]:
#Nested if else conditions
balance = input('Enter your balance: \n')
balance = int(balance)

if balance >= 1000:
    if balance == 1000:
        print('Balance is equal to 1000!')
    else:
        print('Balance is greater than 1000!')
else:
    print('Balance is less than 1000!')

Enter your balance:

ValueError: invalid literal for int() with base 10: ''

In [86]:
#Condition using logical operators
balance = input('Enter your balance: \n')
balance = int(balance)

if(balance >= 1000 and balance <=2000):
    print('Balance is within 1000 and 2000!')
else:
    print('Balance is less than 1000!')

Enter your balance:
2000
Balance is within 1000 and 2000!

## Loops

In [89]:
for i in [2,4,6]:
    print(i)

2
4
6

In [91]:
for i in ['a','b','c']:
    print(i)

a
b
c

In [92]:
for i in ('a','b','c'):
    print(i)

a
b
c

In [93]:
for i in 'Hello':
    print(i)

H
e
l
l
o

In [97]:
for j in range(1,11): #[1,2,3,4,5,6,7,8,9,10]
    print(j+5)

6
7
8
9
10
11
12
13
14
15

In [101]:
a = []
for i in range(1,11):
    a.append(i+5)

In [102]:
print(a)

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [103]:
a[4]

10

In [108]:
for k,v in enumerate(range(1,11)):
    print(k,'-->',v)

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5
5 --> 6
6 --> 7
7 --> 8
8 --> 9
9 --> 10

In [109]:
# Single line for loop
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [115]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [122]:
# Single line for loop with if condition
[i for i in range(1,11) if i>5]

[6, 7, 8, 9, 10]

In [125]:
a = [] 
for i in range(1,11): #[1,2,3...10]
    if(i>5):
        a.append(i)
a

[6, 7, 8, 9, 10]

In [128]:
# While Loop
k = 5
while k < 10:
    print(k)
    k = k+1

5
6
7
8
9

### Exception handling

In [129]:
print(50/0)

ZeroDivisionError: division by zero

In [130]:
try:
    print(50/0)
except:
    print('You cannot divide a no. by zero!')

You cannot divide a no. by zero!

In [131]:
try:
    print(50/1)
except:
    print('You cannot divide a no. by zero!')

50.0

### Function - Reusable block of code

In [133]:
a = 10
b = 20
task1 = a+b
task2 = task1 * 2
print(task2)

60

In [134]:
a = 40
b = 30
task1 = a+b
task2 = task1 * 2
print(task2)

140

In [141]:
# Function name: basicLogic
def basicLogic(a,b):
    task1 = a+b
    task2 = task1 * 2
    return task2

In [142]:
#user defined
basicLogic(10,20)

60

In [143]:
basicLogic(30,40)

140

In [140]:
#predefined
print('hello','Hi',sep=',')

hello,Hi

In [144]:
basicLogic(10)

TypeError: basicLogic() missing 1 required positional argument: 'b'

In [145]:
def basicLogic(a,b=0):
    task1 = a+b
    task2 = task1 * 2
    return task2

In [146]:
basicLogic(10)

20

In [147]:
basicLogic(10,20)

60

In [152]:
def profile_info(name,followers):
    print('Profile Name is: ',name)
    print('No of Followers are: ',followers)

In [153]:
profile_info('Ram',1000)

Profile Name is:  Ram
No of Followers are:  1000

In [154]:
def profile_info(name,followers=0):
    print('Profile Name is: ',name)
    print('No of Followers are: ',followers)

In [155]:
profile_info('Ram')

Profile Name is:  Ram
No of Followers are:  0

In [156]:
profile_info('Ram',2000)

Profile Name is:  Ram
No of Followers are:  2000

In [158]:
def profile_info(name,followers=0):
    print('Profile Name is: ',name)
    if(followers>0):
        print('No of Followers are: ',followers)

In [159]:
profile_info('Ram')

Profile Name is:  Ram

In [160]:
profile_info('Ram',1000)

Profile Name is:  Ram
No of Followers are:  1000

In [164]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [166]:
help(basicLogic)

Help on function basicLogic in module __main__:

basicLogic(a, b=0)

### File handling

In [1]:
#Open the file in read mode
file = open('50_Startups.csv', 'r')

In [2]:
#Read line by line
s = file.readline()

In [12]:
s

'R&D Spend,Administration,Marketing Spend,State,Profit\n'

In [13]:
s[0]

'R'

In [14]:
#Splitting of data
data = s.split(',')

In [15]:
data

['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit\n']

In [16]:
data[0]

'R&D Spend'

In [17]:
file.close()

In [18]:
#Read line by line
s = file.readline()

ValueError: I/O operation on closed file.

In [22]:
with open('50_Startups.csv','r') as file:
    print(file.readline())

R&D Spend,Administration,Marketing Spend,State,Profit

In [23]:
with open('50_Startups.csv','r') as file:
    print(file.read())

R&D Spend,Administration,Marketing Spend,State,Profit
165349.2,136897.8,471784.1,New York,192261.83
162597.7,151377.59,443898.53,California,191792.06
153441.51,101145.55,407934.54,Florida,191050.39
144372.41,118671.85,383199.62,New York,182901.99
142107.34,91391.77,366168.42,Florida,166187.94
131876.9,99814.71,362861.36,New York,156991.12
134615.46,147198.87,127716.82,California,156122.51
130298.13,145530.06,323876.68,Florida,155752.6
120542.52,148718.95,311613.29,New York,152211.77
123334.88,108679.17,304981.62,California,149759.96
101913.08,110594.11,229160.95,Florida,146121.95
100671.96,91790.61,249744.55,California,144259.4
93863.75,127320.38,249839.44,Florida,141585.52
91992.39,135495.07,252664.93,California,134307.35
119943.24,156547.42,256512.92,Florida,132602.65
114523.61,122616.84,261776.23,New York,129917.04
78013.11,121597.55,264346.06,California,126992.93
94657.16,145077.58,282574.31,New York,125370.37
91749.16,114175.79,294919.57,Florida,124266.9
86419.7,153514.11,0,New York,122776.86
76253.86,113867.3,298664.47,California,118474.03
78389.47,153773.43,299737.29,New York,111313.02
73994.56,122782.75,303319.26,Florida,110352.25
67532.53,105751.03,304768.73,Florida,108733.99
77044.01,99281.34,140574.81,New York,108552.04
64664.71,139553.16,137962.62,California,107404.34
75328.87,144135.98,134050.07,Florida,105733.54
72107.6,127864.55,353183.81,New York,105008.31
66051.52,182645.56,118148.2,Florida,103282.38
65605.48,153032.06,107138.38,New York,101004.64
61994.48,115641.28,91131.24,Florida,99937.59
61136.38,152701.92,88218.23,New York,97483.56
63408.86,129219.61,46085.25,California,97427.84
55493.95,103057.49,214634.81,Florida,96778.92
46426.07,157693.92,210797.67,California,96712.8
46014.02,85047.44,205517.64,New York,96479.51
28663.76,127056.21,201126.82,Florida,90708.19
44069.95,51283.14,197029.42,California,89949.14
20229.59,65947.93,185265.1,New York,81229.06
38558.51,82982.09,174999.3,California,81005.76
28754.33,118546.05,172795.67,California,78239.91
27892.92,84710.77,164470.71,Florida,77798.83
23640.93,96189.63,148001.11,California,71498.49
15505.73,127382.3,35534.17,New York,69758.98
22177.74,154806.14,28334.72,California,65200.33
1000.23,124153.04,1903.93,New York,64926.08
1315.46,115816.21,297114.46,Florida,49490.75
0,135426.92,0,California,42559.73
542.05,51743.15,0,New York,35673.41
0,116983.8,45173.06,California,14681.4

In [26]:
with open('50_Startups.csv','r') as file:
    for line in file:
        print(line)

R&D Spend,Administration,Marketing Spend,State,Profit

165349.2,136897.8,471784.1,New York,192261.83

162597.7,151377.59,443898.53,California,191792.06

153441.51,101145.55,407934.54,Florida,191050.39

144372.41,118671.85,383199.62,New York,182901.99

142107.34,91391.77,366168.42,Florida,166187.94

131876.9,99814.71,362861.36,New York,156991.12

134615.46,147198.87,127716.82,California,156122.51

130298.13,145530.06,323876.68,Florida,155752.6

120542.52,148718.95,311613.29,New York,152211.77

123334.88,108679.17,304981.62,California,149759.96

101913.08,110594.11,229160.95,Florida,146121.95

100671.96,91790.61,249744.55,California,144259.4

93863.75,127320.38,249839.44,Florida,141585.52

91992.39,135495.07,252664.93,California,134307.35

119943.24,156547.42,256512.92,Florida,132602.65

114523.61,122616.84,261776.23,New York,129917.04

78013.11,121597.55,264346.06,California,126992.93

94657.16,145077.58,282574.31,New York,125370.37

91749.16,114175.79,294919.57,Florida,124266.9

86419.7,153514.11,0,New York,122776.86

76253.86,113867.3,298664.47,California,118474.03

78389.47,153773.43,299737.29,New York,111313.02

73994.56,122782.75,303319.26,Florida,110352.25

67532.53,105751.03,304768.73,Florida,108733.99

77044.01,99281.34,140574.81,New York,108552.04

64664.71,139553.16,137962.62,California,107404.34

75328.87,144135.98,134050.07,Florida,105733.54

72107.6,127864.55,353183.81,New York,105008.31

66051.52,182645.56,118148.2,Florida,103282.38

65605.48,153032.06,107138.38,New York,101004.64

61994.48,115641.28,91131.24,Florida,99937.59

61136.38,152701.92,88218.23,New York,97483.56

63408.86,129219.61,46085.25,California,97427.84

55493.95,103057.49,214634.81,Florida,96778.92

46426.07,157693.92,210797.67,California,96712.8

46014.02,85047.44,205517.64,New York,96479.51

28663.76,127056.21,201126.82,Florida,90708.19

44069.95,51283.14,197029.42,California,89949.14

20229.59,65947.93,185265.1,New York,81229.06

38558.51,82982.09,174999.3,California,81005.76

28754.33,118546.05,172795.67,California,78239.91

27892.92,84710.77,164470.71,Florida,77798.83

23640.93,96189.63,148001.11,California,71498.49

15505.73,127382.3,35534.17,New York,69758.98

22177.74,154806.14,28334.72,California,65200.33

1000.23,124153.04,1903.93,New York,64926.08

1315.46,115816.21,297114.46,Florida,49490.75

0,135426.92,0,California,42559.73

542.05,51743.15,0,New York,35673.41

0,116983.8,45173.06,California,14681.4

In [27]:
with open('50_Startups.csv','r') as file:
    for line in file:
        for word in line.split(','):
            print(word)
        print('--------')

R&D Spend
Administration
Marketing Spend
State
Profit

--------
165349.2
136897.8
471784.1
New York
192261.83

--------
162597.7
151377.59
443898.53
California
191792.06

--------
153441.51
101145.55
407934.54
Florida
191050.39

--------
144372.41
118671.85
383199.62
New York
182901.99

--------
142107.34
91391.77
366168.42
Florida
166187.94

--------
131876.9
99814.71
362861.36
New York
156991.12

--------
134615.46
147198.87
127716.82
California
156122.51

--------
130298.13
145530.06
323876.68
Florida
155752.6

--------
120542.52
148718.95
311613.29
New York
152211.77

--------
123334.88
108679.17
304981.62
California
149759.96

--------
101913.08
110594.11
229160.95
Florida
146121.95

--------
100671.96
91790.61
249744.55
California
144259.4

--------
93863.75
127320.38
249839.44
Florida
141585.52

--------
91992.39
135495.07
252664.93
California
134307.35

--------
119943.24
156547.42
256512.92
Florida
132602.65

--------
114523.61
122616.84
261776.23
New York
129917.04

--------
78013.11
121597.55
264346.06
California
126992.93

--------
94657.16
145077.58
282574.31
New York
125370.37

--------
91749.16
114175.79
294919.57
Florida
124266.9

--------
86419.7
153514.11
0
New York
122776.86

--------
76253.86
113867.3
298664.47
California
118474.03

--------
78389.47
153773.43
299737.29
New York
111313.02

--------
73994.56
122782.75
303319.26
Florida
110352.25

--------
67532.53
105751.03
304768.73
Florida
108733.99

--------
77044.01
99281.34
140574.81
New York
108552.04

--------
64664.71
139553.16
137962.62
California
107404.34

--------
75328.87
144135.98
134050.07
Florida
105733.54

--------
72107.6
127864.55
353183.81
New York
105008.31

--------
66051.52
182645.56
118148.2
Florida
103282.38

--------
65605.48
153032.06
107138.38
New York
101004.64

--------
61994.48
115641.28
91131.24
Florida
99937.59

--------
61136.38
152701.92
88218.23
New York
97483.56

--------
63408.86
129219.61
46085.25
California
97427.84

--------
55493.95
103057.49
214634.81
Florida
96778.92

--------
46426.07
157693.92
210797.67
California
96712.8

--------
46014.02
85047.44
205517.64
New York
96479.51

--------
28663.76
127056.21
201126.82
Florida
90708.19

--------
44069.95
51283.14
197029.42
California
89949.14

--------
20229.59
65947.93
185265.1
New York
81229.06

--------
38558.51
82982.09
174999.3
California
81005.76

--------
28754.33
118546.05
172795.67
California
78239.91

--------
27892.92
84710.77
164470.71
Florida
77798.83

--------
23640.93
96189.63
148001.11
California
71498.49

--------
15505.73
127382.3
35534.17
New York
69758.98

--------
22177.74
154806.14
28334.72
California
65200.33

--------
1000.23
124153.04
1903.93
New York
64926.08

--------
1315.46
115816.21
297114.46
Florida
49490.75

--------
0
135426.92
0
California
42559.73

--------
542.05
51743.15
0
New York
35673.41

--------
0
116983.8
45173.06
California
14681.4
--------

In [29]:
with open('new_file.txt','w') as file:
    file.write('Hello World!')