## Encoding a categorical variable using Pandas

In [30]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [31]:
dataset = pd.read_excel('/Users/swaruptripathy/Desktop/Data Science/datasets/stark_data.xlsx')

In [32]:
dataset.head()

  Character   Age  Gender  Survived
0    Eddard  52.0    Male         0
1      John  27.0    Male         1
2      Arya  21.0  Female         1
3      Bran  19.0    Male         1
4      Robb   NaN    Male         0

In [33]:
dataset.shape

(6, 4)

In [34]:
X_gender = dataset.iloc[:,2].values
X_gender

array(['Male', 'Male', 'Female', 'Male', 'Male', 'Female'], dtype=object)

In [35]:
#Converting categorical features
X_dummy1 = pd.get_dummies(X_gender)

In [36]:
X_dummy1

   Female  Male
0       0     1
1       0     1
2       1     0
3       0     1
4       0     1
5       1     0

In [38]:
X_dummy2 = pd.get_dummies(X_gender, drop_first=True)

In [39]:
X_dummy2

   Male
0     1
1     1
2     0
3     1
4     1
5     0